<% if predict_product_errors.any? %>
  <div class="error-form">
    <div class="error-form-box">
      <p class="error-count"><%= predict_product_errors.count %>件の問題が発生しました</p>
      <% predict_product_errors.full_messages.each do |message| %>
        <p class="error-msg">• <%= message %></p>
      <% end %>
    </div>
  </div>
<% end %>
