<header class="header">
  <div class="header-container">
    <div class="header-logo">
    </div>

    <div nav-item>
      <%= link_to "値上げ商品",  root_path, class: "nav-link" %>
      <%= link_to "損失チェック",  root_path, class: "nav-link" %>
      <%= link_to "値上げ予想",  root_path, class: "nav-link" %>
    </div>
  </div>
</header>
