<div class="top">
  <div class="main-top">
    <div class="top-container">
      <div class="top-letter">
        <div class="top-title">
          <h1>Neagaridus</h1>
          <p>値上げした商品と金額について確認してみよう!!</p>
        </div>
      </div>
    </div>
  </div>
  <div class="introduction commonality-box">
    <div class="introduction-container commonality-container">
      <h2>"Neagaridus"とは...</h2>
      <p>Neagaridusとは値上げ商品についてまとめたサービスです。</p><br>
      <p class="introduction-period">•損失チェックで「値上げした商品がどのくらい家計に響くか」</p><br>
      <p>可視化させることができます。</p><br>
      <p class="introduction-period">•値上げ予想で将来の値上げしそうな商品について意見を交換し合う</p><br>
      <p>ことができます。</p><br>
    </div>
  </div>
</div>
