.productCalculation{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 10px;
    border: solid 2px grey;
    background-color: #f5f5f5;
}

.textSide{
    padding: 15px;
    font-size: 2vw;
    font-weight: bold;
}

#Text{
    height: 20px;
    width: 20vw;
    padding: 15px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 2px solid #000;
}

.result{
    text-align: center;
    padding: 40px;
}

.checkButton{
    padding: 20px 0;
    background-color: #ff6347;
    border: 2px solid #ff4500;
    border-radius: 5px;
    font-size: 25px;
    color: #fff;
    width: 40vw;
    cursor: pointer;
}

.resultData{
    font-size: 5vw;
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 20px;
    color: #ff0000;
    font-family: 'ヒラギノ明朝 ProN';
    letter-spacing: 3px;
    line-height: 65px;
    text-align: center;
}

//レスポンシブデザイン
@media screen and (max-width: 743px){
    .resultData{
        line-height: 55px;
        font-size: 40px;
    }
}

@media screen and (max-width: 360px){
    .checkButton{
        width: 30vw;
        font-size: 10px;
    }

    .resultData{
        font-size: 20px;
        line-height: 35px;
    }

    .textSide{
        font-size: 10px;
        padding: 5px;
    }
}
