*, ::after, ::before{
  box-sizing: border-box;
}

@import "font-awesome";

body{
  margin: 0;
  position: relative;
  padding-bottom: 180px;
  box-sizing: border-box;
  min-height: 100vh;
  background-color: #eed13f;
  line-height: 18px;
}

body::-webkit-scrollbar {
  display:none;
}

.header{
  width: 100%;
  height: 75px;
  padding: 4px 25px;
  background-color: #000;
}

//ヘッダー部分
.logo-title{
  float: left;
  color: yellow;
}

.nav-item{
  float: right;
}

.hamburger-btn{
  display: none;
}

.nav-link{
  display: inline-block;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  margin-right: 20px;
}

//フッター部分
.footer{
  position: absolute;
  bottom: 0%;
  width: 100%;
  height: 100px;
  padding-top: 40px;
  background-color: #000000;
  color: #fff;
  text-align: center;
}

.footer p{
  margin-top: 0px;
  font-size: 15px;
}

//アラートメッセージ
.notifications{
  color: #fff;
  text-align: center;
}

.notice{
  background-color: #4a90e2;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0.75rem 1.25rem;
}

.alert{
  background-color: red;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  margin-top: 0;
}

//ログインボタン
.login-btn{
  display: inline-block;
  background-color: #4a90e2;
  color: #fff;
  border: 1px solid #6c757d;
  border-radius: 5px;
  padding: 8px;
  margin-top: 12px;
  margin-right: 10px;
  line-height: 1.5;
  text-decoration: none;
}

//登録ボタン
.new-user-btn{
  display: inline-block;
  background-color: #f0821e;
  color: #fff;
  border: 1px solid #6c757d;
  border-radius: 5px;
  padding: 8px;
  margin-top: 12px;
  line-height: 1.5;
  text-decoration: none;
}

//ログアウトボタン
.logout-btn{
  display: inline-block;
  background-color: #6c757d;
  border: 1px solid #6c757d;
  border-radius: 5px;
  color: #fff;
  padding: 8px;
  margin-top: 12px;
  line-height: 1.5;
  text-decoration: none;
}

//パンくずリスト
.breadcrumbs{
  position:relative;
  top: 30px;
  left: 60px;
  width: 100%;
  a{
    text-decoration: none;
    color: #000;
  }
  a:hover {
    color: #ff0000;
  }
}

//レスポンシブデザイン
@media screen and (max-width: 1024px){
  .hamburger-btn{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    height: 40px;
    display: block;
    background: #333;
    color: #fff;
  }

  .fa-bars{
    font-size: 20px;
  }

  .nav-menu{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #555;
  }

  .nav-link{
    width: 100%;
    height: auto;
    padding: 15px;
    text-align: center;
    color: #fff;
    box-sizing: border-box;
  }

  .nav-menu{
    transform: translateX(100vw);
    transition: all .3s linear;
  }

  .nav-menu.is-active{
    transform: translateX(0);
  }

  .top-title{
    font-size: 120px!important;
  }

  .top-letter p{
    font-size: 35px!important;
  }
}

@media screen and (max-width: 600px){
  .login-btn, .new-user-btn{
    padding: 6px;
  }

  .nav-item{
    margin-right: -18px;
  }

  .breadcrumbs-list{
    width: 80%;
    font-size: 15px;
  }

  .top-title{
    font-size: 100px!important;
  }

  .introduction-container h2{
    font-size: 40px!important;
  }

  .introduction-container p{
    font-size: 20px!important;
  }
}

@media screen and (max-width: 360px){
  .logo-title{
    font-size: 25px;
  }

  .login-btn, .new-user-btn{
    padding: 4px;
  }

  .breadcrumbs-list{
    width: 60%;
    font-size: 13px;
  }

  .top-title{
    font-size: 60px!important;
  }

  .top-letter p{
    font-size: 25px!important;
  }

  .introduction-container h2{
    font-size: 32px!important;
  }
}
