*, ::after, ::before{
  box-sizing: border-box;
}

body{
  margin: 0;
  position: relative;
  padding-bottom: 180px;
  box-sizing: border-box;
  min-height: 100vh;
  background-color: #fff;
  line-height: 18px;
}

body::-webkit-scrollbar {
  display:none;
}
