//値上げ商品一覧ページと検索結果一覧ページ
.search-result{
    width: 100%;
    padding: 50px 60px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.search-result h4{
    margin-top: 25px;
    margin-bottom: 0;
    margin-left: -10px;
    font-size: 30px;
    font-weight: bold;
    line-height: 32px;
}

.search p{
    font-size: 16px;
    margin: 0px;
    padding-bottom: 5px;
    font-weight: bold;
}

.search-form{
    height: 45px;
    width: 250px;
    border-radius: 2px;
    padding: 0.5px 0;
    margin: 0;
    font-size: 15px;
    font-weight: 400;
    color: #000;
    background-color: #fff;
    border: 2px solid #000;
  }

.cross{
    display: inline-block;
    font-size: 40px;
    padding: 0 10px;
    vertical-align: middle;
  }

.search-select{
    display: inline-block;
  }

.search select{
    display: inline-block;
    height: 45px;
    width: 250px;
 }

.search-btn{
    height: 45px;
    width: 65px;
    margin-left: -7px;
    padding-top: 2px;
    background-color: #007fff;
    color: #fff;
  }

.up-products{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    width: 100%;
}

//検索商品が1件のみの場合
.search-product{
    width: 700px;
    padding: 0 25px;
}

//検索結果が2件のみの場合
.search-products-two{
    flex: 0 45%;
    max-width: 45%;
    margin-right: 30px;
}

//検索結果が3件以上の場合
.search-products{
    flex: 0 33%;
    max-width: 33%;
    padding: 0 15px;
}

.search-inner{
    border: 2px solid #000;
    border-radius: 5px;
    margin-top: 25px;
}

.search-link{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.search-product-image{
    width: 100%;
    height: 80%;
    object-fit: cover;
}

.product-detailed{
    word-break: break-all;
    width: 100%;
    padding: 10px;
}

.product-detailed-name{
    font-size: 18px;
    font-weight: 600;
}

.product-detailed-price{
    font-size: 14px;
    border-bottom: solid 2px #000;
    text-align: right;
}

.search-link span{
    font-weight: bold;
    color: red;
    font-size: 17px;
}

.search-link button{
    display:block;
    width:150px;
    margin:0 auto 15px auto;
    padding: 10px 0;
    width: 75%;
    background-color: #f0821e;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

//値上げ商品詳細ページ
.product-show{
    padding: 40px 0;
    width: 100%;
    max-width: 1270px;
    margin: 0 auto;
}

.product-show-container{
    display: flex;
    flex-wrap: wrap;
    padding: 60px 40px 0 40px;
}

.product-left{
    flex: 0 45%;
    max-width: 45%;
    position: relative;
}

.product-show-image{
    width: 90%;
    object-fit: cover;
}

.product-quote{
    font-size: 13px;
}

.product-right{
    flex: 0 55%;
    max-width: 55%;
    position: relative;
}

.product-right-container{
    padding-left: 10px;
}

.like-link{
    text-decoration: none;
    font-size: 18px;
    color: #000;
}

.product-show-name{
    font-weight: bold;
    font-size: 30px;
    padding: 12px 0;
    border-bottom: 2px solid #000;
    line-height: 30px;
}

.product-show-price{
    padding-top: 40px;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
}

.product-show-price span{
    color: red;
    font-size: 30px;
}

.product-show-explanation{
    font-size: 16px;
    line-height: 1.75;
    padding: 40px 0;
}

.loss-btn{
    display: inline-block;
    background-color: #339900;
    color: #fff;
    border: 3px outset #47763c;
    border-radius: 5px;
    padding: 8px 20px;
    margin-top: 12px;
    margin-right: 10px;
    line-height: 1.5;
    text-decoration: none;
  }

  //商品詳細ページから損失チェック画面に遷移した時の画面
.product-calculation-container{
    padding: 50px 40px;
}

.calculation-nav{
    padding-bottom: 20px;
    h1{
      font-size: 6vw;
      border-bottom: solid 9px red;
      line-height: 50px;
      display: inline-block;
    }
    p{
      font-size: 2vw;
      padding-left: 10px;
      line-height: 30px;
    }
}

.calculation-main h3{
    font-size: 3vw;
    font-weight: bold;
    text-align: center;
    line-height: 30px;
    padding-top: 20px;
}

.product-information{
    padding: 20px 10px 0 10px;
    margin-bottom: 60px;
    border: solid 2px grey;
    background-color: #f5f5f5;
    white-space: nowrap;
}

.column-title{
  border-bottom: solid 1px black;
}

.column-title-list{
    display: inline-block;
    width : 30%;
    text-align: center;
    font-size: 2vw;
    font-weight: bold;
    padding-bottom: 10px;
    margin: 0 10px;
}

.product-column{
    padding: 0 20px;
    display: flex;
    justify-content: center;
}

.product-column-image{
    height: auto;
    width: 20%;
    padding: 20px 30px 20px 10px;
}

.product-column-list{
    width: 50%;
    font-size: 2vw;
    font-weight: bold;
    margin: auto 0;
    line-height: 30px;
    text-align: center;
}

.product-column-price{
     width: 20%;
     text-align: right;
}

//値上げ商品一覧ページのレスポンシブデザイン
@media screen and (max-width: 1024px){
  .search-result{
    padding: 50px 30px;
  }

  .search-select{
    padding-top: 20px;
  }

  .search-products-two{
    padding-right: 35px;
  }

  .product-right{
    padding-left: 30px;
  }

  .product-quote{
    font-size: 10px;
  }
}

@media screen and (max-width: 743px){
  .search-form{
    width: 190px;
  }

  .cross{
    padding: 0px;
  }

  .search select{
    width: 190px;
  }

  .search-btn{
    width: 50px;
  }

  .product-show-name{
    font-size: 25px;
  }

  .calculation-nav{
    h1{
      font-size: 40px;
    }
    p{
      font-size: 20px;
    }
  }

  .product-column-image{
    width: 30%;
  }
}

@media screen and (max-width: 585px){
  .search-form{
    width: 240px;
  }

  .search select{
    width: 240px;
  }

  .search-btn{
    width: 40px;
  }

  .search-products{
    flex: 0 50%;
    max-width: 50%;
  }

  .search-products-two{
    flex: 0 100%;
    max-width: 100%;
  }

  .product-quote{
    overflow-wrap:  break-word;
    padding-bottom: 30px;
  }

  .product-left{
    flex: 0 100%;
    max-width: 100%;
    text-align: center;
  }

  .product-right{
    flex: 0 100%;
    max-width: 100%;
    padding: 0px;
  }

  .calculation-main h3{
    font-size: 15px;
  }

  .product-column-image{
    width: 40%;
  }

  .column-title-list{
    margin: 0 5px;
  }

  .product-column-list{
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media screen and (max-width: 360px){
  .search-btn{
    width: 85px;
    margin-top: 5px;
    margin-left: 0px;
  }

  .search-products{
    flex: 0 100%;
    max-width: 100%;
  }

  .calculation-main h3{
    padding-top: 0px;
  }

  .product-information{
    margin-bottom: 0px;
  }

  .column-title-list{
    margin: 0;
  }

  .product-column{
    padding: 0 5px;
  }

  .product-column-image{
    width: 30%;
    padding: 5px;
  }

  .product-column-list{
    font-size: 1vw;
  }
}
