.check-field{
  padding: 10px 0;
}

.login-account{
  color: #fff;
  background-color: #4a90e2;
}

.new_account_attention{
  color: #009bc6;
  text-decoration: none;
}

.forget_password{
  color: #009bc6;
  text-decoration: none;
}
