//お気に入り商品一覧ページ
.page-title{
    margin-top: 25px;
    margin-bottom: 10px;
    margin-left: -10px;
    padding: 30px;
    font-weight: bold;
    border: 5px solid #fff;
}

//アカウントの情報ページ
.account-page-container{
    margin: 80px 100px;
    padding: 20px 30px;
    background-color: #fff;
    border: 2px solid #808080;
    border-radius: 3px;
}

.account-title{
    padding: 20px 50px 0px 15px;
    border-bottom: 2px solid #d3d3d3;
    float: left;
}

.account-information{
    text-align: center;
    margin-top: 150px;
    margin-bottom: 50px;
}

.user-icon{
    border-radius: 50%;
    width: 280px;
    height: 280px;
}

.user-content{
    border-bottom: 1px solid #eaedef;
    padding: 20px;
    margin: 50px 100px;
    font-size: 20px;
}

.row{
    display: flex;
    margin: 0 -15px;
    flex-wrap: wrap;
    word-break: break-word;
    text-align: left;
}

.user-title{
    margin: 0 0 0 auto;
    font-weight: bold;
}

.edit-btn{
    background-color: #ff6347;
    color: #fff;
    margin: 0 auto;
    padding: 15px 50px;
    border: 1px solid #ff4500;
    font-size: 18px;
    border-radius: 4px;
    text-decoration: none;
}

//アカウント編集ページ
.edit-title{
    font-size: 30px;
    margin-bottom: 20px;
    padding-bottom: 4px;
    border-bottom: 3px solid #ff4500;
}

.title{
    font-weight: bold;
    padding-right: 40px;
}

.edit-form{
    padding-bottom: 15px;
}

.update{
    background-color: #ff6347;
    color: #fff;
    border-color: #ff4500;
    font-size: 15px;
    font-weight: bold;
    width: 250px;
    display: block;
    margin: 0 auto;
}

.back{
    background-color: #007fff;
    border-color: #0000cd;
    color: #fff;
    text-decoration: none;
    text-align: center;
    margin-top: 15px;
}

@media screen and (max-width: 1024px){
    .account-page-container{
        margin: 80px 40px;
    }
}

@media screen and (max-width: 585px){
    .account-title{
        padding: 20px 15px 0px 15px;
        h1{
            font-size: 6vw;
        }
    }

    .user-title{
        padding-top: 0px;
    }

    .user-content{
        margin: 50px 0px;
    }

    .user-icon{
        width: 85%;
        height: 85%;
    }
}
